<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
    <style>
        .email-container {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="email-container">
        <h2>Сброс пароля</h2>
        <p>Здравствуйте, {{ user.first_name }}</p>
        <p>Мы получили запрос на сброс вашего пароля. Ваш код для сброса пароля: <strong>{{ code }}</strong>.</p>
        <p>Пожалуйста, не сообщайте этот код никому. Если вы не запрашивали сброс пароля, просто проигнорируйте это сообщение.</p>
        <p>Спасибо,</p>
        <p>Команда безопасности</p>
    </div>
</body>
</html>
